*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#locateBtn{
    padding: 10px 20px;
    background-color: red;
    width: fit-content;
    border-radius: 20px;
    margin: 20px auto;
    color: white;
    cursor: pointer;

}

#locateBtn:hover{
    background-color: green;
}

#locateBtn:active{
    background-color: green;
}

#mapDiv{
    border: 1px solid blue;
    text-align: left;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
}

#mapImage{
    border: 1px solid red;
    max-width: 400px;
    padding: 10px;
    text-align: left;
    margin: 10px auto;
    height: 200px;
}